# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite
dist/
.vite/

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Python tools
.pytest_cache/
.mypy_cache/

# IDE
.vscode/
.idea/

# Environment variables
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

.git-old/